{% block 'messages' %}
{% if messages %}
{% for message in messages %}

{% if message.tags == 'warning' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h4><strong>Warning</strong></h4>
  <h6>{{ message }}</h6>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4><strong>Error</strong></h4>
  <h6>{{ message }}</h6>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if message.tags == 'success' %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <h4><strong>Success</strong></h4>
  <h6>{{ message }}</h6>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% endfor %}
{% endif %}
{% endblock%}
